/* スマホでのスタイル */

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

html {
  font-size: 5calc(100vw / 32);
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
}

#wrapper {
  min-height: 100vh;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
  width: 100%;
  align-items: center;
  background-color: white;
}

section {
  height: 100%;
}

section img{
  width:100%;
}

/* footerのスタイル */

.push {
  height: 60px;
}

footer {
  position: absolute;
  margin:0 auto;
  margin-bottom: -60px;
  padding-top: 10px;
  bottom: 0;
  height: 90px;
  width: 100vw;
  margin-top: 5px;
  background-color: darkseagreen;
  color: white;
  text-align: center;
  padding-left: 0px;
}

.ft{
  margin-left: 0;
  font-size: 1.2rem;
}

/* contents style */

.contents {
  width: 100%;
}

#top {
  width: 100%;
  margin-top: 5px;
  vertical-align: top bottom;
  box-sizing: border-box;
}

/* main style */

main {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 900px;
  padding-bottom: 60px;
  min-height: calc(100vh - 70px);
  text-align: left;
}

h1 {
  font-size: 4vw;
  width: 100%;
  padding-left: 20px;
  background-color: whitesmoke;
  border-left: ridge 10px darkseagreen;
  border-width: 5px;
  box-sizing: border-box;
}

h2 {
  font-size: 3vw;
  width: 100%;
  padding: 20px;
  padding-top: 5px;
  margin: 5px;
  box-sizing: border-box;
}

main p {
  font-size: 1.0rem;
  padding-left: 30px;
  padding-top: 5px;
}

section li {
  padding-left: 10px;
}

table {
  border: solid 1px darkgreen;
  border-collapse: collapse;
  margin: 10px 30px 10px 30px;
}

td, th {
  border: solid 1px darkgreen;
  text-align: center;
  padding: 10px;
}

/* headerのスタイル */

header {
  margin: 0 auto;
  max-width: 900px;
}

@media (max-width: 569px) {
  .nvgt {
    display: none;
  }
}

#title:link, #title:visited, title:hover, #title:active {
  text-decoration: none;
  color: black
}

#hdinner {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

#headtitle {
  max-width: 60%;
  max-height: 60px;
  padding-left: 5px;
}

#title img {
  max-height: 35px;
  margin-bottom: 5px;
}

#langbox {
  margin-right: 45px;
  text-align: right;
  width: 25%;
}

#langimg {
  align-items: right;
}

#langimg img {
  max-height: 20px;
  margin-bottom: 10px;
}

/* ハンバーガーメニュー */

.menu-btn {
  top: 10px;
  right: 10px;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 100;
  /*重なりの順序 大きいほど手前に来る*/
  background-color: rgba(255, 255, 255, 0);
  position:absolute;
}

.menu-btn span, .menu-btn span:before, .menu-btn span:after {
  content: '';
  /*要素の前（before) 後（after）に要素を追加*/
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

/* メニュー画面の設定 */

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 80;
  background-color: darkseagreen;
}

.menu-content ul {
  padding: 70px 10px 0;
  text-align: center;
}

.menu-content ul li {
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100%;
  left: 0;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
  /*アニメーション設定*/
}

#menu-btn-check:checked~.menu-content {
  top: 0px;
  /*メニューを画面内へ*/
}

#back:checked~.menu-content{
  top:100%;
}

/* パンくずリスト */

.breadcrumb {
  margin: 0;
  padding-left: 5px;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  /*横に並ぶように*/
  list-style: none;
}

.breadcrumb li:after {
  /* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: black
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/* PC */

@media (min-width: 569px) {
  #hdinner {
    position: relative;
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .hamburger-menu {
    display: none;
  }
  #headtitle {
    align-self: center;
    border: orange;
  }
  #title img {
    border: orange;
    width: 40%;
    min-width: 300px;
    max-height: none;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  #langimg {
    width: 50%;
  }
  #langimg img {
    max-height: none;
    max-width: 100px;
  }
  main {
    margin: 0 auto;
    max-width: 900px;
    padding-bottom: 60px;
    min-height: calc(100vh - 70px);
  }
  h1 {
    font-size: 36px;
    width: 100%;
    padding-left: 20px;
    background-color: whitesmoke;
    border-left: ridge 10px darkseagreen;
    border-width: 5px;
    box-sizing: border-box;
  }
  h2 {
    font-size: 18px;
    width: 100%;
    padding: 0 20px;
    margin: 0 0;
    box-sizing: border-box;
  }
  p {
    font-size: 1.0rem;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  nav li {
    display: block;
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
  }
  nav a {
    display: block;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    color: #555;
    margin: auto auto;
    font-size: 1.0rem;
  }
  nav li:hover {
    border: 2px solid darkseagreen;
  }
  nav li>a:hover {
    color: #555;
  }
  .mob_br {
    display: none;
  }
  nav li.current{
    background-color: darkseagreen;
  }
}
